body{
    background: white;
}

.stage{
    width: 100vw; height: 100vh;
    display: grid;
    place-items: center;
    perspective: 900px;
}

.world{
    width: 1px; height: 1px;
    transform-style: preserve-3d;
    transform: rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
}

.panel{
    position: absolute;
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 12px 40px rgba(rgba(21, 20, 20, 0.182));
    cursor: pointer;
    transform: translate3d(var(--x), var(--y), var(--z));
}